<nb-card>
  <nb-card-header>
    <span> Orders Details</span>
  </nb-card-header>

  <nb-card-body>
    <table width="800">
      <tr>
        <th>Product name</th>
        <th>Product type</th>
        <th>Quantity</th>
        <th>Price single</th>
        <th>Price</th>
      </tr>
      <tr *ngFor="let data of orderdata.data.rows">
        <td>{{ data.product_name }}</td>
        <td>{{ data.product_type }}</td>
        <td>{{ data.quantity }}</td>
        <td>{{ data.orignal_price }}</td>
        <td>{{ data.orignal_price * data.quantity }}</td>
      </tr>
      <tr>
        <td colspan="4"><b>Total</b></td>
        <td>
          <b>{{ orderdata.Total_price }}</b>
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <span>Delivery Address</span>
  </nb-card-header>

  <nb-card-body>
    <p>{{ orderdata.data.rows[0].delivered_address }}</p>
  </nb-card-body></nb-card
>

<nb-card *ngIf="Vendor">
  <nb-card-header>
    Vendor Details
  </nb-card-header>

  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>First Name:{{ delivery.fname }}</div>
      </div>
      <div class="col-md-6">
        <div>Last Name:{{ delivery.lname }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <!-- <div class="col-md-6">
          <div>Business:{{ delivery.business_name }}</div>
        </div> -->
      <!-- <div class="col-md-6">
          <div>Last Name:{{</div>
        </div> -->
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Email:{{ delivery.email }}</div>
      </div>
      <div class="col-md-6">
        <div>Mobile:{{ delivery.mobile }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Parement Adddress:{{ delivery.per_address }}</div>
      </div>

      <div class="col-md-6">
        <div>Status:{{ delivery.status }}</div>
      </div>
      <div class="col-md-6">
        <div>Area:{{ delivery.area }}</div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="Distributar">
  <nb-card-header>
    Distributor Details
  </nb-card-header>

  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>First Name:{{ vendordata.fname }}</div>
      </div>
      <div class="col-md-6">
        <div>Last Name:{{ vendordata.lname }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Business:{{ vendordata.business_name }}</div>
      </div>
      <!-- <div class="col-md-6">
          <div>Last Name:{{</div>
        </div> -->
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Email:{{ vendordata.email }}</div>
      </div>
      <div class="col-md-6">
        <div>Mobile:{{ vendordata.mobile }}</div>
      </div>
      <div class="col-md-6">
        <div>Area:{{ vendordata.area }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Address:{{ vendordata.address }}</div>
      </div>
      <div class="col-md-6">
        <div>Status:{{ vendordata.status }}</div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="user">
  <nb-card-header>
    <span> User Details</span>
  </nb-card-header>
  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>First Name:{{ userdata.fname }}</div>
      </div>
      <div class="col-md-6">
        <div>Last Name:{{ userdata.lname }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Email:{{ userdata.email }}</div>
      </div>
      <div class="col-md-6">
        <div>Mobile:{{ userdata.mobile }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>City:{{ userdata.city }}</div>
      </div>
      <div class="col-md-6">
        <div>Pincode:{{ userdata.pincode }}</div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-header>
    <span> Views</span>
  </nb-card-header>

  <nb-card-body>
    <!-- <button type="button" (click)="users()" nbButton>User Details</button>
      <button
        type="button"
        (click)="suplliervendor()"
        style="margin-left: 5px;"
        nbButton
      >
        Vendor/Distributar Details
      </button> -->

    <button type="button" (click)="assign()" style="margin-left: 5px;" nbButton>
      Assign Vendor/Distributar
    </button>
  </nb-card-body>
</nb-card>

<div class="row" *ngIf="allvendorsdata">
  <div *ngFor="let data of allvendors" class="col-md-6">
    <nb-card>
      <nb-card-header>
        Distributor Details
        <button
          nbButton
          status="warning"
          size="small"
          style="float: right;"
          value="{{ data.vend_id }}"
          (click)="assignuser($event)"
        >
          Assign
        </button>
      </nb-card-header>

      <nb-card-body>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>First Name:{{ data.fname }}</div>
          </div>
          <div class="col-md-6">
            <div>Last Name:{{ data.lname }}</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>Business:{{ data.business_name }}</div>
          </div>
          <!-- <div class="col-md-6">
                <div>Last Name:{{</div>
              </div> -->
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>Email:{{ data.email }}</div>
          </div>
          <div class="col-md-6">
            <div>Mobile:{{ data.mobile }}</div>
          </div>
          <div class="col-md-6">
            <div>Area:{{ data.area }}</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>Address:{{ data.address }}</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" *ngIf="deliverydata">
  <div *ngFor="let data of alldelivery" class="col-md-6">
    <nb-card>
      <nb-card-header>
        Vendor Details
        <button
          nbButton
          status="warning"
          size="small"
          style="float: right;"
          value="{{ data.del_per_id }}"
          (click)="assignuser($event)"
        >
          Assign
        </button>
      </nb-card-header>

      <nb-card-body>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>First Name:{{ data.fname }}</div>
          </div>
          <div class="col-md-6">
            <div>Last Name:{{ data.lname }}</div>
          </div>
        </div>
        <div class="row show-grid">
          <!-- <div class="col-md-6">
                  <div>Business:{{ data.business_name }}</div>
                </div> -->
          <!-- <div class="col-md-6">
                  <div>Last Name:{{</div>
                </div> -->
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>Email:{{ data.email }}</div>
          </div>
          <div class="col-md-6">
            <div>Mobile:{{ data.mobile }}</div>
          </div>
        </div>
        <div class="row show-grid">
          <div class="col-md-6">
            <div>Parement Adddress:{{ data.per_address }}</div>
          </div>

          <div class="col-md-6">
            <div>Status:{{ data.status }}</div>
          </div>
          <div class="col-md-6">
            <div>Area:{{ data.area }}</div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
