<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <nb-card>
    <nb-card-header>Edit user</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="username" class="label">Old Password</label>
            <input
              type="password"
              required
              nbInput
              fullWidth
              id="oldpass"
              formControlName="oldpass"
            />

            <span
              *ngIf="
                checkoutForm.get('oldpass').hasError('required') &&
                submit == true
              "
            >
              first name is Required!
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="email" class="label">New Password</label>
            <input
              type="password"
              required
              nbInput
              fullWidth
              id="newpass"
              formControlName="newpass"
              minlength="4"
            />
            <span
              *ngIf="
                checkoutForm.get('newpass').hasError('required') &&
                submit == true
              "
            >
              is Required!
            </span>
          </div>
          <span *ngIf="checkoutForm.get('newpass').hasError('minlength')">
            Enter more than 3 character
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="city" class="label">Confirm New Password</label>
            <input
              type="password"
              required
              nbInput
              fullWidth
              id="cnewpass"
              formControlName="cnewpass"
              minlength="4"
            />
          </div>
        </div>
      </div>

      <p></p>
      <button type="submit" [disabled]="!checkoutForm.valid" nbButton>
        Submit
      </button>
    </nb-card-body>
  </nb-card>
</form>
