<nb-card>
  <nb-card-header>
    Block Products
  </nb-card-header>

  <nb-card-body>
    <button
      nbButton
      status="warning"
      size="small"
      style="float: right;margin-left: 5px;"
      (click)="Unblockuser()"
    >
      UnBlock ({{ arr.length }})
    </button>
    <div class="table-responsive margin-top-15" *ngIf="tableShow">
      <table
        datatable
        #dataTable
        [dtOptions]="dtOptions"
        class="display"
        style="width:100%"
      >
        <thead>
          <tr>
            <th></th>
            <th>ID</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Orignal Price</th>
            <th>Discount Price</th>
            <th>Location</th>
            <th hidden>Product type</th>
            <th hidden>Current offer</th>
            <th hidden>Delivery time</th>
            <th hidden>Product Detail</th>
            <th hidden>pic1</th>
            <th hidden>pic2</th>
            <th hidden>pic3</th>
            <th hidden>Short Description</th>
            <th hidden>Long Description</th>
            <th hidden>Availability</th>
            <th hidden>Promo code</th>
            <th hidden>Status</th>
            <th hidden>Created at</th>
            <th hidden>Update at</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of dtUsers">
            <td>
              <input
                type="checkbox"
                data-md-icheck
                (change)="select($event, t)"
              />
            </td>
            <td>{{ t.prod_id }}</td>
            <td>{{ t.product_name }}</td>
            <td>{{ t.brand_name }}</td>
            <td>{{ t.orignal_price }}</td>
            <td>{{ t.discount_price }}</td>
            <td>{{ t.location }}</td>
            <td hidden>{{ t.product_type }}</td>
            <td hidden>{{ t.current_offers }}</td>
            <td hidden>{{ t.delivery_time }}</td>
            <td hidden>{{ t.product_details }}</td>
            <td hidden>{{ t.pic1 }}</td>
            <td hidden>{{ t.pic2 }}</td>
            <td hidden>{{ t.pic3 }}</td>
            <td hidden>{{ t.short_desc }}</td>
            <td hidden>{{ t.long_desc }}</td>
            <td hidden>{{ t.availability }}</td>
            <td hidden>{{ t.promo_code }}</td>
            <td hidden>{{ t.status }}</td>
            <td hidden>{{ t.created_at }}</td>
            <td hidden>{{ t.updated_at }}</td>
            <td>
              <button nbButton [size]="tiny" (click)="view(t)">
                View
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
