<nb-card>
  <nb-card-header>
    Product Details<button
      nbButton
      status="warning"
      size="small"
      style="float: right;"
      (click)="blockuser()"
    >
      Block
    </button>
  </nb-card-header>

  <nb-card-body>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Product Name:{{ prodcutdata.product_name }}</div>
      </div>
      <div class="col-md-6">
        <div>Brand Name:{{ prodcutdata.brand_name }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Orignal Price:{{ prodcutdata.orignal_price }}</div>
      </div>
      <div class="col-md-6">
        <div>Discount Price:{{ prodcutdata.discount_price }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Discount:{{ prodcutdata.discount }}</div>
      </div>
      <div class="col-md-6">
        <div>Details:{{ prodcutdata.product_details }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Delivery Time:{{ prodcutdata.delivery_time }}</div>
      </div>
      <div class="col-md-6">
        <div>Location:{{ prodcutdata.location }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Vendor id:{{ prodcutdata.vendor_id }}</div>
      </div>
      <div class="col-md-6">
        <div>Distributor id:{{ prodcutdata.dist_id }}</div>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-6">
        <div>Long desctiption:{{ prodcutdata.long_desc }}</div>
      </div>
      <div class="col-md-6">
        <div>Short Desctiption:{{ prodcutdata.short_desc }}</div>
      </div>
      <div class="col-md-6">
        <div>Status:{{ prodcutdata.status }}</div>
      </div>
      <div class="col-md-6 row">
        <div class="col-md-4">
          <div>
            image:<img
              [src]="imageurl"
              width="100px"
              height="100px"
              alt="Not Found"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            image:<img
              [src]="imageurl1"
              width="100px"
              height="100px"
              alt="Not Found"
            />
          </div>
        </div>
        <div class="col-md-4">
          <div>
            image:<img
              [src]="imageurl2"
              width="100px"
              height="100px"
              alt="Not Found"
            />
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card>
  <nb-card-header>
    Product Review
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings" [source]="source"> </ng2-smart-table>
  </nb-card-body>
</nb-card>
